---
# =============================================================================
# SITE.YML - Run All Playbooks in Order
# =============================================================================
# This is the master playbook that runs everything.
# Usage: ./run.sh playbooks/site.yml
#
# Individual playbooks can be run separately:
#   ./run.sh playbooks/zeppelin.yml  - Zeppelin + Spark client
#   ./run.sh playbooks/spark.yml     - Spark Master/Worker
#   ./run.sh playbooks/giraph.yml    - Hadoop + Giraph
#   ./run.sh playbooks/neo4j.yml     - Neo4j database
#
# Optional steps (use --tags):
#   ./run.sh playbooks/zeppelin.yml --tags data   - Download dataset
#   ./run.sh playbooks/neo4j.yml --tags import    - Import to Neo4j
# =============================================================================

# Run playbooks in parallel where possible
- name: Run Zeppelin Playbook
  import_playbook: zeppelin.yml

- name: Run Spark Playbook
  import_playbook: spark.yml

- name: Run Giraph Playbook
  import_playbook: giraph.yml

- name: Run Neo4j Playbook
  import_playbook: neo4j.yml
