[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
remote_user = ubuntu
private_key_file = ../terraform/hajar-project-key.pem
roles_path = roles
timeout = 60
gathering = smart
fact_caching = memory
retry_files_enabled = False

# Parallelism
forks = 10

# Logging
log_path = logs/ansible.log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[inventory]
enable_plugins = aws_ec2, yaml, ini
